@using MarketPlace.Domain.Core.Application.Dtos;
@using MarketPlace.Domain.Core.Application.Enums;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<GeneralCustomerDto>;

<a class="btn w-100 mb-3" asp-controller="Customer" asp-action="Create"><i class='fas fa-plus-circle'></i>  اضافه کردن </a>

<div class="tab-content" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5  p-2">
            <div class="app-card-body">
                <div class="table-responsive">
                    
                    <table class="table app-table-hover mb-0 text-left">
                        <thead>
                            <tr>
                                <th class="cell">آیدی</th>
                                <th class="cell">نام</th>
                                <th class="cell">نام خانوادگی</th>
                                <th class="cell">ایمیل</th>
                                <th class="cell">استان</th>
                                <th class="cell">شهر</th>
                                <th class="cell">وضعیت</th>
                                <th class="cell"></th>
                                <th class="cell"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in Model)
                            {
                                <tr id="@customer.Id">
                                    <td class="cell">#@customer.Id</td>
                                    <td class="cell">@customer.Name</td>
                                    <td class="cell">@customer.Family</td>
                                    <td class="cell">@customer.Email</td>
                                    <td class="cell">@customer.ProvinsName</td>
                                    <td class="cell">@customer.CityName</td>
                                    <td class="cell">@customer.Status</td>
                                    <td class="cell"><a class="btn-sm app-btn-secondary" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.Id">ویرایش</a></td>
                                    @if (customer.Status == UserStatus.Active)
                                    {
                                        <td class="cell"><a class="btn-sm app-btn-secondary" asp-action="DeActiveUser" asp-route-id="@customer.Id">غیر فعال کردن</a></td>
                                    }
                                    else
                                    {
                                        <td class="cell"><a class="btn-sm app-btn-secondary" asp-action="ActiveUser" asp-route-id="@customer.Id">فعال کردن</a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!--//table-responsive-->

            </div><!--//app-card-body-->
        </div><!--//app-card-->

    </div><!--//tab-pane-->

</div><!--//tab-content-->
