@using MarketPlace.Domain.Core.Application.Dtos;
@using ApplicationFrameWorke;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<WalletTransactionOutputDto>;

        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">کارمزد</th>
                                        <th class="cell">مبلغ پرداختی</th>
                                        <th class="cell">آیدی واریز کننده</th>
                                        <th class="cell">آیدی دریافت کننده</th>
                                        <th class="cell">زمان</th>
                                        <th class="cell"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <tr>
                                            <td class="cell">@product.Wage</td>
                                            <td class="cell">@product.PaidPrice</td>
                                            <td class="cell">@product.FromWalletId</td>
                                            <td class="cell">@product.ToWalletId</td>
                                            <td class="cell">@product.Time.ToPersianString()</td>
                                            <td class="cell text-success">@product.SaleType</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>

        </div>

